{% extends "partials/dashboard-base.html" %}
{% load static %}

{% block content %}



<!-- Dashboard Section start -->
<section class="dashboard-section body-collapse account">
    <div class="overlay pt-120">
        <div class="container-fruid">
            <div class="main-content">
                <div class="col-sm-4 col-xl-4 col-lg-5 m-sm-2" style="width:100%">
                <div class="row">
                    <div class="col-xxl-9 col-xl-8">
                        <div class="tab-main" style="box-shadow:none;">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active text-center" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="true">Withdraw your money with your card</button>
                                </li>
                                {% comment %} <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="security-tab" data-bs-toggle="tab" data-bs-target="#security" type="button" role="tab" aria-controls="security" aria-selected="false">Security</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button" role="tab" aria-controls="payment" aria-selected="false">Payment Methods</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="notification-tab" data-bs-toggle="tab" data-bs-target="#notification" type="button" role="tab" aria-controls="notification" aria-selected="false">Notification</button>
                                </li> {% endcomment %}
                            </ul>
                        
                            
                                <div class="side-items" style="margin:50px 50px; display:flex;  flex-wrap: wrap;">
                                    <div class="row">
                                        <div style="margin-top:50px; display:flex; flex-wrap: wrap; width:100%; "; >
                        
                                            {% for c in credit_card %}
                                            <a href="{% url "core:creditcarddetail"  c.card_id%}">
                                                <div class="col-sm-6" style=" flex: 1; width:400px; padding: 10px;">
                                                    <div class="card__main col-sm" >
                                                        <div class="{% if c.card_type == 'verve' %}Front_card{% endif %}    {% if c.card_type == 'master' %}masterCard{% endif %}    {% if c.card_type == 'visa' %}visaCard{% endif %}">
                                                        <div class="col-sm-6 top_card" style="display:flex;">
                                                            <span class="visa">{{c.card_type|upper}}</span>
                                                            <div class="logo">
                                                                <img src="{% static 'assets/images/logo.png' %}" class="logo" alt="logo">
                        
                                                            </div>
                                                        </div>
                                                        <div class="middle_card">
                                                            <span class="chip"></span>
                                                            <div class="card_number">{{c.number}}</div>
                                                        </div>
                                                        <div class="bottom_card">
                                                            <div class="card_info">
                                                            <div class="card_holder_name">{{c.amount}}</div>
                                                            <div class="card_holder_name">{{c.name}}</div>
                                                            </div>
                                                            <div class="card_info">
                                                            <div class="card_holder_info">
                                                                <span class="expire_month" >{{c.month}}</span>
                                                                <span class="slash">/</span>
                                                                <span class="expire_year">{{c.year}}</span>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="back_card">
                                                        <div class="top_card">
                                                            <span class="black_strip"></span>
                                                            <div class="cvc_strip">
                                                            <span class="cvc_number">000</span>
                                                            </div>
                                                        </div>
                                                        <div class="bottom_card">
                                                            <div class="flex">
                                                            <span class="sticker"></span>
                                                            <div class="logo1">
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                        </div>
                                            
                                       
                                        
                                       
                                    </div>
                            
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    
                   
                </div>
                
            </div>
            
        </div>
        
    </div>
   
</section>
<!-- Dashboard Section end -->

<!-- Add Card Popup start -->

<!-- My Card Popup start -->


{% endblock content %}
    <!-- header-section start -->
